---
import { db } from "@/lib/database";
import * as Card from "@/components/card";
import { eq } from "drizzle-orm";
import { playlist } from "@/lib/schema";
import { Image } from "astro:assets";
import { Icon, MusicalNote } from "svelte-hero-icons";
import Create from "./create.svelte";

const user = Astro.locals.user;
if (!user) return new Response(null, { status: 401 });
const playlists = await db.query.playlist.findMany({
	columns: {
		owner: false,
	},
	where: eq(playlist.owner, user.id),
});
if (!playlists) return new Response(null, { status: 500 });
---

{
	playlists.slice(0, 8).map(({ id, name, image }) => (
		<a href={`/playlist/${id}`}>
			<Card.Root class="hover:bg-bg1/50 flex-row items-center">
				{image ? (
					<Image
						alt=""
						class="row-span-2 size-8 shrink-0 rounded-sm"
						draggable={false}
						src={`/api/playlist/image?id=${id}`}
						height={36}
						width={36}
					/>
				) : (
					<div class="bg-bg1 flex size-8 items-center justify-center rounded-sm">
						<Icon class="text-bg5 size-5" src={MusicalNote} />
					</div>
				)}
				<span class="truncate">{name}</span>
			</Card.Root>
		</a>
	))
}

<Create client:idle n={playlists.length} />
