---
import CreatePlaylist from "@/components/create-playlist";
import Play from "@/components/play-playlist";
import { db } from "@/lib/database";
import { playlist } from "@/lib/schema";
import { Image } from "astro:assets";
import type { User } from "better-auth";
import { eq } from "drizzle-orm";
import { CassetteTape } from "lucide-react";

interface Props {
	user: User;
}
const { user } = Astro.props;

const playlists = await db.query.playlist.findMany({
	where: eq(playlist.owner, user.id),
});
---

<div class="space-y-3">
	<h1 class="text-3xl font-bold">Playlists</h1>
	<div class="flex flex-wrap gap-2">
		{
			playlists.slice(0, 6).map((playlist) => (
				<div class="group text-card-foreground bg-card grid gap-1 rounded-lg border p-3 shadow duration-100">
					<div class="relative">
						{playlist.image ? (
							<Image
								src={`http://localhost:4321/api/playlist/image?id=${playlist.id}`}
								alt=""
								width="8"
								height="8"
								class="size-32 rounded-md"
							/>
						) : (
							<div class="bg-muted flex size-32 items-center justify-center rounded-md">
								<CassetteTape className="text-muted-foreground size-24" />
							</div>
						)}
						<Play playlist={playlist} client:visible />
					</div>
					<a
						class="text-center text-sm group-hover:underline"
						href={`/playlist/${playlist.id}`}
					>
						{playlist.name}
					</a>
				</div>
			))
		}
		<CreatePlaylist count={playlists.length} client:idle />
	</div>
</div>
